/* CSS for Crazy Crystal Game */

@font-face {
    font-family: "Gothic";
    src: url("../fonts/oldlondon.ttf");
}

* {
    font-family: "Gothic" !important;
    box-sizing: border-box;
}

#toptitle {
    font-size: 400%
}

small {
    font-size: 48%;
}

body {
    background: url("../images/crystal-sage.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 0.3em auto 0.3em auto;
    padding: 0.25em;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    letter-spacing: 0.05em;
    line-height: 0.75em;
    border: 2px white solid;
    border-radius: 10px;
    overflow: hidden;
}

p {
    color: white;
    margin: 0.50em;
    font-size: 180%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px white solid;
    border-radius: 10px;
    padding: 0.6em;
    letter-spacing: 0.02em;
    overflow: hidden;
}

#imagebox {
    color: white;
    font-size: 230%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px white solid;
    border-radius: 10px;
    padding: 0.6em;
    letter-spacing: 0.02em;
    overflow: hidden;
    margin: 0.50em auto;
    text-align: center;
}

#scoreboard {
    font-size: 230%;
    color: white;
    letter-spacing: 0.02em;
    overflow: hidden;
}

#target-number, #current-number, #wins-score, #timer, #losses-score {
    border: 2px white solid;
    border-radius: 10px;
    padding: 0.6em;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

#wins-score, #timer, #losses-score {
    margin-top: 0.5em;
}

.crystalbutton {
    transition: 0.5s ease;
    height: 3.5em;
    width: 3.5em;
    margin: 0.25em;
}

#big-card-z {
    border: 2px white solid;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    font-size: 200%;
    padding: 1em;
    color: white; 
    text-align: center;
    background: black;
    opacity: 0.9;
}

#button-array-z {
    position: relative;
    top: 5em;
    text-align: center;
}

.menu-button-z {
    position: relative;
    text-align: center;
    font-size: 120%;
    margin: auto;
    transition: 0.5s ease;
    overflow: hidden;
}

#confirm-button {
    display: none;
}


@media only screen and (max-width:930px) {
    #big-card-z {
        top: 50%;
    }
    #button-array-z {
        top: 3em;
    }
}

@media only screen and (max-width:760px) {
    #big-card-z {
        font-size: 175%;
        height: fit-content;
    }
    #button-array-z {
        top: 1em;
    }
}

@media only screen and (max-width:530px) {
    #big-card-z {
        height: fit-content;
    }
    #button-array-z {
        top: 0em;
    }
}